@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  :root {
    --background-color:#fafafa;
    --elements:	#ffffff;
    --text: 	#111517;
    --input: 	#858585;
    --hover:#2b3945;
    --hoverText:#ffffff;

  }
  
  /* Dark Theme */
  .dark {
    --background-color:#202c37;
    --elements:	#2b3945;
    --text: #ffffff;
    --hover:#fafafa;
    --hoverText:#111517;
  }
  body{
    @apply bg-background
  }
}
*{
  -webkit-tap-highlight-color: transparent;
 }


